:root {
    --overlay-bg: #131E29E6;
    --connect-bg: #003595;
    --footer-bg: #E3E4E6;
    --dark-gray-text: #131E29;
    --navy: #003595;
}

html {
    box-sizing: border-box;
    font-size: 1rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    letter-spacing: 0rem;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

@-moz-keyframes fadeInOut {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

@-o-keyframes fadeInOut {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

@keyframes fadeInOut {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

header.banner {
    height: 600px;
    position: relative;
}

    header.banner::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: right no-repeat url(/img/banner-logo.svg), linear-gradient(var(--overlay-bg), var(--overlay-bg));
        z-index: 0;
    }

    header.banner svg {
        position: absolute;
        top: 60px;
        left: 60px;
        z-index: 4;
    }

    header.banner ul.slider li {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

        header.banner ul.slider li.top {
            background: top/cover no-repeat url(/img/derrick-banner.png);
            animation: fadeInOut 3s ease-in-out infinite alternate;
        }
        header.banner ul.slider li.bottom {
            background: center/cover no-repeat url(/img/analytics-banner.png);
        }

    header.banner h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        max-width: 643px;
        text-align: center;
    }

        header.banner h1 span {
            color: white;
            display: block;
            font-size: 3.75rem;
            font-weight: 300;
            z-index: 4;
        }

            header.banner h1 span + span {
                font-size: 4rem;
                font-weight: 700;
            }

main section article {
    margin: 40px auto;
    padding: 0 40px;
    max-width: 1153px;
}

    main section article > header {
        margin-bottom: 40px;
    }

        main section article header h1 {
            color: var(--dark-gray-text);
            font: 900 1.75rem/1.625rem 'Source Sans Pro';
            text-align: left;
            text-transform: uppercase;
        }

main #about p {
    color: var(--dark-gray-text);
    font: 300 2.125rem/2.875rem 'Source Sans Pro';
    text-align: center;
}

main #products article section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    main #products article section threelrv-flip-card {
        margin: 20px 0;
    }

        main #products article section threelrv-flip-card div[slot='front'],
        main #products article section threelrv-flip-card div[slot='back'] {
            height: 100%;
            width: 100%;
        }

        main #products article section threelrv-flip-card div[slot='front'] {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            main #products article section threelrv-flip-card div[slot='front'] img {
                flex: 1;
                max-width: 163px;
                margin: 0 auto;
            }
            main #products article section threelrv-flip-card div[slot='front'] p {
                flex-shrink: 1;
                font: 600 1.625rem/1.625rem 'Source Sans Pro';
                padding-bottom: 1rem;
            }

        main #products article section threelrv-flip-card div[slot='back'] {
            display: flex;
            flex-direction: column;
        }

            main #products article section threelrv-flip-card div[slot='back'] header {
                display: flex;
                flex-direction: row;
                flex-shrink: 1;
                justify-content: left;
                align-items: center;
                padding: 30px 30px 0;
            }
                main #products article section threelrv-flip-card div[slot='back'] header img {
                    height: 60px;
                    max-width: 60px;
                }
                main #products article section threelrv-flip-card div[slot='back'] header p {
                    margin-left: 0.5rem;
                    font: 600 1.5rem/1.625rem 'Source Sans Pro';
                    text-align: left;
                }

            main #products article section threelrv-flip-card div[slot='back'] > p {
                flex: 1;
                padding: 1rem 30px 1rem;
                text-align: left;
            }


main #team article > img {
    background: center/cover no-repeat url('/img/team.png');
    max-width: unset;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 40px;
}

main #team article section {
    display: flex;
    flex-direction: row;
}

    main #team article section threelrv-team-card + threelrv-team-card {
        margin: 0 0 0 40px;
    }

        main #team article section threelrv-team-card p {
            font: 300 1.125rem/1.5rem 'Source Sans Pro';
            padding: 10px 0;
        }

main #connect {
    background: var(--connect-bg);
}
    main #connect article {
        margin-bottom: 0;
    }

        main #connect article p {
            color: white;
            font: 900 1.75rem/1.625rem 'Source Sans Pro';
            padding: 40px 0 20px 0;
        }

            main #connect article p + p {
                font: 300 1.5rem/1.625rem 'Source Sans Pro';
                padding-top: 0;
                padding-bottom: 40px;
            }

            main #connect article p,
            main #connect article a,
            main #connect article a:active,
            main #connect article a:hover,
            main #connect article a:link,
            main #connect article a:visited {
                color: white;
                text-transform: uppercase;
                text-decoration: none;
            }

footer {
    background: var(--footer-bg);
}

    footer p {
        color: var(--dark-gray-text);
        font: 300 .625rem/1.5rem 'Source Sans Pro';
        margin: 0 auto;
        max-width: 1153px;
        padding: 20px 0 20px 60px;
        text-transform: uppercase;
    }

@media (min-width: 1280px) {
    header.banner ul.slider li.top {
        background: top/cover no-repeat url(/img/derrick-banner@2x.png);
    }
    header.banner ul.slider li.bottom {
        background: center/cover no-repeat url(/img/analytics-banner@2x.png);
    }
    main #team article > img {
        background: center/cover no-repeat url(/img/team@2x.png);
    }
}